body{
    margin: 0;
    padding: 0;
    background-color: rgb(3, 3, 71);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: black;
    padding: 0px 80px;
   
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    color: orange;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar ul li {
   padding-right: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color:white; 
    font-weight: bold;
}

.navbar ul li a:hover {
    color: gold;
    
    transition: 2s;
}
.home{
    padding: 50px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.home button{
    background-color:orange;
    padding: 10px 10px;
    border-radius: 10px ;
    border: none;

}
.home button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
button:hover{
    transform: scale(1.2) translateY(10px);
    transition: 2s;
}

.home-text{
      color: white;
      padding-left: 100px;
      font-weight: bolder;
}
.home-text h1{
    font-size: 50px;
    color: orange;
}
.home-text p{
    font-size: 20px;
}

.home-img img{
    padding-left: 100px;
    max-width: 100%;
    height: auto;
    width: 550px; 
}
.about{
    padding: 70px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.about-text{
    color: white;
    padding-left: 200px;
    font-weight: bolder;
}
.about-text h1{
    font-size: 50px;
    color: orange;
}
.about-img img{
    max-width: 100%;
    height: auto;
    width: 500px; 
    padding-left: 30px;
}
.about button{
    background-color:orange;
    padding: 10px 10px;
    border-radius: 10px ;
    border: none;

}
.about button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
button:hover{
    transform: scale(1.2) translateY(10px);
    transition: 2s;
}

.menu{
    line-height: 0.5;
    
}
.header1{
    font-weight: bolder;
    color: white;
    text-align: center;
}
.header1 span{
    color: orange;
    font-weight: 600;
    font-size: larger;
}
.header1 h2{
    font-weight: bolder;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    margin-top: 50px;
}
.box1{
    background-color: white;
    padding:10px 40px ;
    border-radius: 5px;
}
.box2{
    background-color: white;
    padding:10px 40px ;
    border-radius: 5px;
}
.box3{
    background-color: white;
    padding:10px 40px ;
    border-radius: 5px;
}

.box-text{
    color: orange;
   
}
.box-text span{
     color: orange;
}

.box-img img{
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    width: 150px; 
    height: 150px;
}

.fa-cart-shopping {
    color: orange;
    cursor: pointer;
    padding-left: 5px;
}

